server:
  port: 8080

spring:
  application:
    name: product-list
  datasource:
    url: jdbc:postgresql://localhost:5432/product_list
    username: edscoreapp
    password: dba
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info
